.App {
  text-align: center;
  align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 282c34;
}

.App-header span{
    display: block;
}

.App-header h1{
    font-weight: 200;
    text-align: center;
}

.App-header h2{
    font-weight: lighter;
    text-align: left;
}

.App-link {
  color: #61dafb;
}

#similar_image_tile {
    background-color: #00724F;
    color: white;
    mmin-width: 35%;
    max-width: 35%;
}

#similar_image_tile span {
    padding: 0px;
    background-color: white;
    display: block;
}
#similar_image_tile img {
    max-width: 100%;

}

#analysed_image_tile {
    background-color: #00724F;
    color: white;
    mmin-width: 75%;
    max-width: 75%;
}

#analysed_image_tile span {
    padding: 0px;
    background-color: white;
    display: block;
}

#analysed_image_tile img {
    max-width: 100%;

}

#tile-text {
    padding: 0px 15px 0px 15px;
}

#tile-text h2{
    font-weight: lighter;
    text-align: center;
    padding: 0px 20px, 0px, 20px;
}
#tile-text h3{
    font-size: 0.7em;
    text-align:left;
    padding: 0px 20px, 0px, 20px;
}
#tile-text p{
    font-size: 0.5em;
    text-align:left;
    padding: 0px 20px, 0px, 20px;
}

#tile-type {
    text-align:right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
